//// Funciones con cadenas de texto
@use "sass:string";

//// Funciones con numeros
@use "sass:math";

//// Funciones con listas
@use "sass:list";

@debug "hola";
@debug string.index("Helvetica Neve","Neve");

$string: "Helvetica";
$newString: string.insert($string, " bold",10);

@debug $newString;
@debug string.length($newString);
@debug string.slice($newString, 5, 9);

@debug string.to-upper-case("Roboto Mono");
@debug string.to-lower-case("Roboto Mono");

//Crear id
@debug string.unique-id();


//// Funciones con numeros
@debug math.$e;
@debug math.$pi;

@debug math.floor(4.3);
@debug math.ceil(4.3);
@debug math.round(4.3);

@debug math.clamp(0,24,10);

@debug math.max(1,4,7,8);
@debug math.min(1,4,7,8);

@debug math.abs(-5);

@debug math.pow(2,3);

@debug math.sin(45deg);
@debug math.cos(45deg);
@debug math.tan(45deg);

//// Funciones con listas
$lista1:10px, 10px, 0px, 15px;

@debug $lista1;
@debug list.append($lista1, 25px, space);

$border-custom: solid 1px #ccc;
@debug list.index($border-custom,#ccc);

@debug list.join($lista1,$border-custom,auto);

@debug list.separator($border-custom);