// Definir variables

$text-color:#3f3f3f;
@mixin formato-texto($bg-color) {
    color: $text-color;
    background-color: $bg-color;
    font-family: 'Times New Roman', Times;
    text-transform: uppercase;
}

body{
    padding: 0;
    margin: 0;
}
.container {
    max-width: 100%;
    width: 100vw;
    background-color: cornflowerblue;
    min-height: 100%;
    height: 100vh;
    padding: 0.5rem;
}
h1 {
    font-weight: bold;
    @include formato-texto(rgb(247, 212, 212));
}
p {
    @include formato-texto(rgb(167, 171, 221));
}